<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">

	<insert id="create" parameterType="com.multi.mvc300.BbsVO">
		insert into bbs values (#{no},#{title}, #{content}, #{writer})
	</insert>
	<delete id="del" parameterType="com.multi.mvc300.BbsVO">
		delete from bbs where no =#{no}
	</delete>

	<update id="up" parameterType="com.multi.mvc300.BbsVO">
		update bbs set content = #{content}
		where no = #{no}
	</update>

</mapper>